<div id="edit-review-modal" class="modal review-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="box-header">
                <img src="http://via.placeholder.com/250x250" alt="">
                <span>Modifier votre avis</span>
                <div class="modal-delete"><i data-feather="x"></i></div>
            </div>
            <div class="box-body">

                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Great - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Very good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Pretty good - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Good - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Average - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Mediocre - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Weak - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Bad - 1 star"></label>
                    <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Terrible - 0.5 stars"></label>
                </fieldset>

                <div class="control">
                    <textarea id="comment" class="textarea is-button" placeholder="rédiger votre expérience..."></textarea>
                    <div class="textarea-button">
                        <button class="button primary-button raised" id="publier_avis">Sauvegarder</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--button class="modal-close is-large" aria-label="close"></button-->
</div>
<script>
    $('#publier_avis').click(function () {
        let notes = 0;
        if($('#starhalf').is(':checked')){
            notes = 0.5
            console.log("+0.5")
        }
        if($('#star1').is(':checked')){
            notes = 1
            console.log("+1")
        }
        if($('#star1half').is(':checked')){
            notes = 1.5
            console.log("+1.5")
        }
        if($('#star2').is(':checked')){
            notes = 2
            console.log("+2")
        }
        if($('#star2half').is(':checked')){
            notes = 2.5
            console.log("+2.5")
        }
        if($('#star3').is(':checked')){
            notes = 3
            console.log("+3")
        }
        if($('#star3half').is(':checked')){
            notes = 3.5
            console.log("+3.5")
        }
        if($('#star4').is(':checked')){
            notes = 4
            console.log("+4")
        }
        if($('#star4half').is(':checked')){
            notes = 4.5
            console.log("+4.5")
        }
        if($('#star5').is(':checked')){
            notes = 5
            console.log("+5")
        }
        let comment = $('#comment').val()
        let url = "{{ path('noter_produit') }}"
        $.ajax({
            url:url,
            type: "POST",
            dataType: "json",
            data: {
                "idproduit": {{ produit.id }},
                "notes": notes,
                "comment": comment,
            },
            async: true,
            success: function (data) {
                let content  = "";
                content += "<div class=\"customer-ratings\">\n" +
                    "                                        <!-- Product review -->\n" +
                    "                                        <div class=\"media\">\n" +
                    "                                                <div class=\"media-left\">\n" +
                    "                                                        <figure class=\"image is-32x32\">\n" +
                    "                                                                <img src=\"http://via.placeholder.com/250x250\" data-demo-src=\"assets/img/avatars/elie.jpg\"\n" +
                    "                                                                     alt=\"\">\n" +
                    "                                                        </figure>\n" +
                    "                                                </div>\n" +
                    "                                                <div class=\"media-content\">\n" +
                    "                                                        <p>\n" +
                    "                                                                <span>Ngassa</span>\n" +
                    "                                                                <small>\n";
                if(notes == 0){
                    content += "<i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>"
                }
                if(notes == 0.5){
                    content += "<i class=\"fa fa-star-half\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>"
                }
                if(notes == 1){
                    content += "<i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>"
                }
                if(notes == 1.5){
                    content += "<i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-half\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>"
                }
                if(notes == 2){
                    content += "<i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>"
                }
                if(notes == 2.5){
                    content += "<i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-half\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>"
                }
                if(notes == 3){
                    content += "<i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>"
                }
                if(notes == 3.5){
                    content += "<i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-half\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>"
                }
                if(notes == 4){
                    content += "<i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-o\"></i>"
                }
                if(notes == 4.5){
                    content += "<i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star-half\"></i>"
                }
                if(notes == 5){
                    content += "<i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>\n" +
                        "                                                                                <i class=\"fa fa-star\"></i>"
                }
                content += "</small>\n" +
                    "                                                                <br>\n" +
                    "                                                                <span class=\"rating-content\">"+comment+"</span>\n" +
                    "                                                        </p>\n" +
                    "                                                </div>\n" +
                    "                                        </div>\n" +
                    "                                </div>"
                $('#rating-list').prepend(content)
                console.log("Avis publié");
            }
        })
        console.log("Avis non publié");
    })
</script>