{% extends '/security/frontend/base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}

    <!-- Main wrapper -->
    <div class="shop-wrapper">

        <!-- Search overlay -->
        <div class="search-overlay"></div>

        <!-- Search input -->
        <div class="search-input-wrapper is-desktop is-hidden">
            <div class="field">
                <div class="control">
                    <input id="nephos-search" type="text" name="search" placeholder="Search a Product">
                    <span id="clear-search" role="button"><i data-feather="x"></i></span>
                    <span class="bar"></span>
                </div>
                <span class="search-help">Type the name of the product you are looking for</span>
            </div>
        </div>
        <!-- Main section -->
        <div id="cart-page" class="section">
            <!-- Container -->
            <div class="container">

                <!-- Cart page -->
                <div class="columns account-header">
                    <div class="column main-column is-tablet-landscape-padded">
                        <div class="account-title">
                            <h2>MY CART</h2>
                            <img class="brand-filigrane" src="{{ asset('frontend/img/logo/nephos-greyscale.svg') }}" alt="">
                        </div>

                        <!-- Account tabs -->
                        {% include 'security/frontend/menu.html.twig' %}

                        <div id="cart-main-placeholder" class="main-placeholder is-hidden">
                            <div class="placeholder-content">
                                <img src="{{ asset('frontend/img/illustrations/shop.svg') }}" alt="">
                                <h3>Empty Cart</h3>
                                <p>Your shopping cart is currenlty empty. Start adding products to be able to checkout.</p>
                                <div class="button-wrap">
                                    <a href="products.html" class="button big-button primary-button rounded raised">Continue Shopping</a>
                                </div>
                            </div>
                        </div>

                        <!-- Cart Layout -->
                        <div class="columns is-account-grid is-multiline">
                            <!--Loader-->
                            <div class="account-loader is-active">
                                <div class="loader is-loading"></div>
                            </div>
                            <!-- Product list -->
                            <div id="cart-page-products" class="column is-8">
                                <!-- Product -->
                                <div class="flat-card is-auto cart-card product-container" data-product-id="">
                                    <ul class="cart-content">
                                        <li>
                                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office6.png" alt="">
                                            <span class="product-info">
                                                    <span>The Conqueror</span>
                                            <span>Office</span>
                                            </span>
                                            <span class="product-price">
                                                    <span>Price</span>
                                            <span>385.00</span>
                                            </span>

                                            <div data-trigger="spinner" class="main-cart-spinner">
                                                <input class="hidden-spinner" type="hidden" value="1" data-spin="spinner" data-rule="quantity" data-min="1" data-max="99">
                                                <a class="spinner-button is-remove" href="javascript:;" data-spin="down">
                                                    <i data-feather="minus"></i>
                                                </a>
                                                <span class="spinner-value">1</span>
                                                <a class="spinner-button is-add" href="javascript:;" data-spin="up">
                                                    <i data-feather="plus"></i>
                                                </a>
                                            </div>

                                            <span class="action">
                                                    <span class="action-link is-remove has-simple-popover" data-content="Remove from Cart"
                                                          data-placement="top">
                                                        <a href="#"><i class="feather-icons" data-feather="trash-2"></i></a>
                                                    </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product -->
                                <div class="flat-card is-auto cart-card product-container" data-product-id="">
                                    <ul class="cart-content">
                                        <li>
                                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office7.gif" alt="">
                                            <span class="product-info">
                                                    <span>The Gentleman</span>
                                            <span>Office</span>
                                            </span>
                                            <span class="product-price">
                                                    <span>Price</span>
                                            <span>329.00</span>
                                            </span>

                                            <div data-trigger="spinner" class="main-cart-spinner">
                                                <input class="hidden-spinner" type="hidden" value="1" data-spin="spinner" data-rule="quantity" data-min="1" data-max="99">
                                                <a class="spinner-button is-remove" href="javascript:;" data-spin="down">
                                                    <i data-feather="minus"></i>
                                                </a>
                                                <span class="spinner-value">1</span>
                                                <a class="spinner-button is-add" href="javascript:;" data-spin="up">
                                                    <i data-feather="plus"></i>
                                                </a>
                                            </div>

                                            <span class="action">
                                                    <span class="action-link is-remove has-simple-popover" data-content="Remove from Cart"
                                                          data-placement="top">
                                                        <a href="#"><i class="feather-icons" data-feather="trash-2"></i></a>
                                                    </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product -->
                                <div class="flat-card is-auto cart-card product-container" data-product-id="">
                                    <ul class="cart-content">
                                        <li>
                                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/kids7.jpg" alt="">
                                            <span class="product-info">
                                                    <span>Child Desk</span>
                                            <span>Kids</span>
                                            </span>
                                            <span class="product-price">
                                                    <span>Price</span>
                                            <span>278.00</span>
                                            </span>

                                            <div data-trigger="spinner" class="main-cart-spinner">
                                                <input class="hidden-spinner" type="hidden" value="1" data-spin="spinner" data-rule="quantity" data-min="1" data-max="99">
                                                <a class="spinner-button is-remove" href="javascript:;" data-spin="down">
                                                    <i data-feather="minus"></i>
                                                </a>
                                                <span class="spinner-value">1</span>
                                                <a class="spinner-button is-add" href="javascript:;" data-spin="up">
                                                    <i data-feather="plus"></i>
                                                </a>
                                            </div>

                                            <span class="action">
                                                    <span class="action-link is-remove has-simple-popover" data-content="Remove from Cart"
                                                          data-placement="top">
                                                        <a href="#"><i class="feather-icons" data-feather="trash-2"></i></a>
                                                    </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Product -->
                                <div class="flat-card is-auto cart-card product-container" data-product-id="">
                                    <ul class="cart-content">
                                        <li>
                                            <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/access4.jpg" alt="">
                                            <span class="product-info">
                                                    <span>Design Shelf</span>
                                            <span>House</span>
                                            </span>
                                            <span class="product-price">
                                                    <span>Price</span>
                                            <span>529,00</span>
                                            </span>

                                            <div data-trigger="spinner" class="main-cart-spinner">
                                                <input class="hidden-spinner" type="hidden" value="1" data-spin="spinner" data-rule="quantity" data-min="1" data-max="99">
                                                <a class="spinner-button is-remove" href="javascript:;" data-spin="down">
                                                    <i data-feather="minus"></i>
                                                </a>
                                                <span class="spinner-value">1</span>
                                                <a class="spinner-button is-add" href="javascript:;" data-spin="up">
                                                    <i data-feather="plus"></i>
                                                </a>
                                            </div>

                                            <span class="action">
                                                    <span class="action-link is-remove has-simple-popover" data-content="Remove from Cart"
                                                          data-placement="top">
                                                        <a href="#"><i class="feather-icons" data-feather="trash-2"></i></a>
                                                    </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- /Product -->
                            </div>
                            <!--Cart Summary-->
                            <div class="column is-4">
                                <div class="flat-card cart-order-summary">
                                    <div class="button-wrap">
                                        <div class="summary-header">
                                            <i data-feather="shopping-cart"></i>
                                            <div><var id="cart-page-count">5</var> <span>Item(s) in Cart</span></div>
                                        </div>
                                        <div class="cart-summary-list">
                                            <div class="summary-item">
                                                <span>Subtotal</span>
                                                <span id="cart-summary-subtotal" class="amount">0.00</span>
                                            </div>
                                            <div class="summary-item">
                                                <span>Taxes</span>
                                                <span id="cart-summary-taxes" class="amount">0.00</span>
                                            </div>
                                            <div class="summary-item">
                                                <span>Shipping</span>
                                                <span id="cart-summary-shipping" class="amount">0.00</span>
                                            </div>
                                            <div class="summary-item is-bold">
                                                <span>Total</span>
                                                <span id="cart-summary-total" class="amount">0.00</span>
                                            </div>
                                        </div>
                                        <button id="init-checkout" class="button is-fullwidth feather-button is-bold primary-button raised is-rounded">Checkout</button>
                                        <button id="update-cart-page" class="button is-fullwidth feather-button is-bold secondary-button raised is-rounded is-hidden">Update
                                            Cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Cart Layout -->
                    </div>
                </div>
                <!-- /Cart page -->

                <!-- Recently Viewed -->
                <div class="columns category-header low-padding">
                    <div class="column main-column is-tablet-landscape-padded">
                        <!-- Title -->
                        <div class="category-title">
                            <h2 class="is-small">RECENTLY VIEWED</h2>
                        </div>

                        <!-- Product grid -->
                        <div class="columns no-controls is-product-grid is-multiline">
                            <!-- Product -->
                            <div class="column is-9">
                                <div class="flat-card is-long product-container" data-product-id="37" data-product-category="House">
                                    <div class="left-image is-md">
                                        <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/red-seat.jpg" alt="">
                                    </div>
                                    <div class="product-info">
                                        <a class="product-details-link">
                                            <h3 class="product-name featured">Red Alcove</h3>
                                        </a>
                                        <p class="product-description">Lorem ipsum sit dolor amet</p>
                                        <p class="product-price">
                                            <span>90.00</span>
                                        </p>
                                    </div>

                                    <div class="actions">
                                        <div class="add">
                                            <i data-feather="shopping-cart"></i>
                                        </div>
                                        <div class="like modal-trigger" data-modal="add-to-wishlist-modal">
                                            <i data-feather="heart" class="has-simple-popover" data-content="Add to Wishlist" data-placement="top"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            <div class="column is-3">
                                <div class="flat-card product-container" data-product-id="1" data-product-category="House">
                                    <div class="image">
                                        <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/red-seat.png" alt="">
                                    </div>
                                    <div class="product-info has-text-centered">
                                        <a class="product-details-link">
                                            <h3 class="product-name">Red Seat</h3>
                                        </a>
                                        <p class="product-description">Lorem ipsum sit dolor amet</p>
                                        <p class="product-price">
                                            <span>75,00</span>
                                        </p>
                                    </div>

                                    <div class="actions">
                                        <div class="add"><i data-feather="shopping-cart"></i></div>
                                        <div class="like"><i data-feather="heart"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            <div class="column is-3">
                                <div class="flat-card product-container" data-product-id="11" data-product-category="Office">
                                    <div class="image">
                                        <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office4.jpg" alt="">
                                    </div>
                                    <div class="product-info has-text-centered">
                                        <a class="product-details-link">
                                            <h3 class="product-name">Executive</h3>
                                        </a>
                                        <p class="product-description">Lorem ipsum sit dolor amet</p>
                                        <p class="product-price">
                                            <span>125.00</span>
                                        </p>
                                    </div>

                                    <div class="actions">
                                        <div class="add"><i data-feather="shopping-cart"></i></div>
                                        <div class="like"><i data-feather="heart"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            <div class="column is-3">
                                <div class="flat-card product-container" data-product-id="12" data-product-category="Office">
                                    <div class="image">
                                        <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office5.jpg" alt="">
                                    </div>
                                    <div class="product-info has-text-centered">
                                        <a class="product-details-link">
                                            <h3 class="product-name">Cosy chair</h3>
                                        </a>
                                        <p class="product-description">Lorem ipsum sit dolor amet</p>
                                        <p class="product-price">
                                            <span>88.00</span>
                                        </p>
                                    </div>

                                    <div class="actions">
                                        <div class="add"><i data-feather="shopping-cart"></i></div>
                                        <div class="like"><i data-feather="heart"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            <div class="column">
                                <div class="flat-card is-long product-container" data-product-id="13" data-product-category="Office">
                                    <div class="left-image is-md">
                                        <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office9.png" alt="">
                                    </div>
                                    <div class="product-info">
                                        <a class="product-details-link">
                                            <h3 class="product-name featured-md">Ambassador</h3>
                                        </a>
                                        <p class="product-description">Lorem ipsum sit dolor amet</p>
                                        <p class="product-price">
                                            <span>480,00</span>
                                        </p>
                                    </div>

                                    <div class="actions">
                                        <div class="add"><i data-feather="shopping-cart"></i></div>
                                        <div class="like"><i data-feather="heart"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            <div class="column is-6">
                                <div class="flat-card is-long product-container" data-product-id="14" data-product-category="Office">
                                    <div class="left-image is-md">
                                        <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office6.png" alt="">
                                    </div>
                                    <div class="product-info">
                                        <a class="product-details-link">
                                            <h3 class="product-name featured-md">Conqueror</h3>
                                        </a>
                                        <p class="product-description">Lorem ipsum sit dolor amet</p>
                                        <p class="product-price">
                                            <span>590.00</span>
                                        </p>
                                    </div>

                                    <div class="actions">
                                        <div class="add"><i data-feather="shopping-cart"></i></div>
                                        <div class="like"><i data-feather="heart"></i></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Product -->
                            <div class="column is-6">
                                <div class="flat-card is-long product-container" data-product-id="15" data-product-category="Office">
                                    <div class="left-image is-md">
                                        <img src="http://via.placeholder.com/500x500/ffffff/999999" data-demo-src="assets/img/products/office7.gif" alt="">
                                    </div>
                                    <div class="product-info">
                                        <a class="product-details-link">
                                            <h3 class="product-name featured-md">Gentleman</h3>
                                        </a>
                                        <p class="product-description">Lorem ipsum sit dolor amet</p>
                                        <p class="product-price">
                                            <span>375.00</span>
                                        </p>
                                    </div>

                                    <div class="actions">
                                        <div class="add"><i data-feather="shopping-cart"></i></div>
                                        <div class="like"><i data-feather="heart"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Product grid -->

                        <div class="show-more"><a href="#">Show more products</a></div>

                    </div>
                </div>
                <!-- /Recently Viewed -->
            </div>
            <!-- /Container -->
        </div>
        <!-- /Main section -->
    </div>
    <!-- /Main wrapper -->

    <!-- Add to Wishlist Modal -->
    <div id="add-to-wishlist-modal" class="modal add-to-wishlist-modal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="box-header">
                    <img src="assets/img/logo/nephos-greyscale.svg" alt="">
                    <span>ADD TO WISHLIST</span>
                    <div class="modal-delete"><i data-feather="x"></i></div>
                </div>
                <div class="box-body">
                    <div class="inner-content">
                        <div id="existing-product-message" class="message is-link has-close-icon is-hidden">
                            <div class="message-body">
                                <a class="close-icon">
                                    <i data-feather="x"></i>
                                </a>
                                This product already exists in the selected wishlist. Please try another one.
                            </div>
                        </div>
                        <div id="wishlist-modal-list-placeholder" class="modal-placeholder is-hidden">
                            <div class="placeholder-content">
                                <img src="assets/img/illustrations/bed.svg" alt="">
                                <h3>No Wishlists</h3>
                                <p>You currently don't have any wishlist saved. Start by creating one.</p>
                                <div class="button-wrap">
                                    <a href="wishlist.html" class="button big-button primary-button rounded raised modal-delete">Add
                                        Wishlist</a>
                                </div>
                            </div>
                        </div>
                        <div id="wishlist-modal-list" class="wishlist-modal-list">
                            <p>Add a new sub list to classify your wishlist items. You can then manage them and find them
                                more
                                easily.</p>
                            <ul>
                                <li class="list-item is-active">
                                    <div class="meta">
                                        <span class="name">Title</span>
                                        <span class="count"><var>0</var> Items</span>
                                    </div>
                                    <div class="selected-indicator">
                                        <i data-feather="check"></i>
                                    </div>
                                </li>
                                <li class="list-item">
                                    <div class="meta">
                                        <span class="name">Title</span>
                                        <span class="count"><var>0</var> Items</span>
                                    </div>
                                    <div class="selected-indicator">
                                        <i data-feather="check"></i>
                                    </div>
                                </li>
                            </ul>
                            <div class="button-wrap">
                                <button type="submit" class="button add-to-wishlist-action is-fullwidth feather-button is-bold primary-button raised">
                                    Add To Wishlist
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}