{% extends '/security/frontend/base.html.twig' %}

{% block title %}Mes Commandes{% endblock %}

{% block body %}

    <!-- Main wrapper -->
    <div class="shop-wrapper">

        <!-- Search overlay -->
        <div class="search-overlay"></div>

        <!-- Search input -->
        <div class="search-input-wrapper is-desktop is-hidden">
            <div class="field">
                <div class="control">
                    <input id="nephos-search" type="text" name="search" placeholder="Search a Product">
                    <span id="clear-search" role="button"><i data-feather="x"></i></span>
                    <span class="bar"></span>
                </div>
                <span class="search-help">Type the name of the product you are looking for</span>
            </div>
        </div>
        <!-- Main section -->
        <div id="orders-grid" class="section">
            <!-- Container -->
            <div class="container">

                <!-- Orders Grid -->
                <div class="columns account-header">
                    <div class="column main-column is-tablet-landscape-padded">
                        <div class="account-title">
                            <h2>MY ORDERS</h2>
                            <img class="brand-filigrane" src="assets/img/logo/nephos-greyscale.svg" alt="">
                        </div>

                        <!-- Account tabs -->
                        {% include 'security/frontend/menu.html.twig' %}

                        <div id="account-edit-main-placeholder" class="main-placeholder is-hidden">
                            <div class="placeholder-content">
                                <img src="{{ asset('frontend/img/illustrations/profile.svg') }}" alt="">
                                <h3>Welcome, Guest</h3>
                                <p>Guest users don't have accounts. Please login or register to view your account.</p>
                                <div class="button-wrap">
                                    <a href="{{path('app_login')}}" class="button big-button primary-button rounded raised">Log In</a>
                                </div>
                                <a>Don't have an account?</a>
                            </div>
                        </div>

                        <!-- Controls -->
                        <div id="orders-main" class="listing-controls">
                            <div class="layout-controls">
                                <a href="orders.html"><span class="is-active"><i data-feather="grid"></i></span></a>
                                <a href="orders-list.html"><span><i data-feather="list"></i></span></a>
                            </div>
                            <!-- Sort -->
                            <div class="sort-box">
                                <div class="sort-box-select">
                                    <select data-placeholder="Default order" class="chosen-select-no-single">
                                        <option>All Orders</option>
                                        <option>Pending</option>
                                        <option>In Progress</option>
                                        <option>Complete</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- /Controls -->

                        <div id="orders-empty-placeholder" class="main-placeholder is-hidden">
                            <div class="placeholder-content">
                                <img src="assets/img/illustrations/happy.svg" alt="">
                                <h3>No Orders</h3>
                                <p>You have no orders to show. Your order details will be stored here, once you checkout.</p>
                                <div class="button-wrap">
                                    <a href="/products.html" class="button big-button primary-button rounded raised">Continue Shopping</a>
                                </div>
                            </div>
                        </div>

                        <!-- Orders grid -->
                        <div id="orders-main" class="columns is-account-grid is-multiline">
                            <!--Loader-->
                            <div class="account-loader is-active">
                                <div class="loader is-pulled is-loading"></div>
                            </div>
                            <!-- Order card -->
                            <div class="column is-4">
                                <div class="flat-card order-card has-popover-top">
                                    <div class="order-info">
                                        <span><a href="invoice.html" onclick="return true">ORDER-46895</a></span>
                                        <span class="tag is-primary">Shipping</span>
                                    </div>
                                    <!-- Progress Circle -->
                                    <div class="circle-chart-wrapper">
                                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                            <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            <circle class="circle-chart-circle" stroke="#0023ff" stroke-width="2" stroke-dasharray="66,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        </svg>
                                        <!-- Icon -->
                                        <div class="chart-icon">
                                            <i data-feather="truck"></i>
                                        </div>
                                        <!-- Label -->
                                        <div class="ring-title has-text-centered">
                                            <span>66% Complete</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Order 46895 Popover -->
                                <div class="webui-popover-content">
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <img class="staff-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/janet.jpg" alt="">
                                        <div class="content-block">
                                            <label>Order handled by</label>
                                            <span>Jane Smith</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="clock"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Ordered on</label>
                                            <span>mar 23th 2018</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="dollar-sign"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Order Total</label>
                                            <span>$378,85</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="truck"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Shipping Method</label>
                                            <span>UPS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Order card -->
                            <div class="column is-4">
                                <div class="flat-card order-card has-popover-top">
                                    <div class="order-info">
                                        <span><a href="invoice.html">ORDER-46878</a></span>
                                        <span class="tag is-success">Preparing</span>
                                    </div>
                                    <!-- Progress Circle -->
                                    <div class="circle-chart-wrapper">
                                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                            <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            <circle class="circle-chart-circle" stroke="#00b289" stroke-width="2" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        </svg>
                                        <!-- Icon -->
                                        <div class="chart-icon">
                                            <i data-feather="package"></i>
                                        </div>
                                        <!-- Label -->
                                        <div class="ring-title has-text-centered">
                                            <span>33% Complete</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Order 46878 Popover -->
                                <div class="webui-popover-content">
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <img class="staff-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/marc.jpg" alt="">
                                        <div class="content-block">
                                            <label>Order handled by</label>
                                            <span>Marc Korsky</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="clock"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Ordered on</label>
                                            <span>mar 15th 2018</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="dollar-sign"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Order Total</label>
                                            <span>$58,49</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="truck"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Shipping Method</label>
                                            <span>Drone</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Order card -->
                            <div class="column is-4">
                                <div class="flat-card order-card has-popover-top">
                                    <div class="order-info">
                                        <span><a href="invoice.html" class="is-disabled">ORDER-42135</a></span>
                                        <span class="tag is-warning">Processing</span>
                                    </div>
                                    <!-- Progress Circle -->
                                    <div class="circle-chart-wrapper">
                                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                            <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            <circle class="circle-chart-circle" stroke="#eda514" stroke-width="2" stroke-dasharray="10,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        </svg>
                                        <!-- Icon -->
                                        <div class="chart-icon">
                                            <i data-feather="credit-card"></i>
                                        </div>
                                        <!-- Label -->
                                        <div class="ring-title has-text-centered">
                                            <span>10% Complete</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Order 42135 Popover -->
                                <div class="webui-popover-content">
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <img class="staff-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/janet.jpg" alt="">
                                        <div class="content-block">
                                            <label>Order handled by</label>
                                            <span>Janet Smith</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="clock"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Ordered on</label>
                                            <span>feb 26th 2018</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="dollar-sign"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Order Total</label>
                                            <span>$188,00</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="truck"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Shipping Method</label>
                                            <span>FedEx</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Order card -->
                            <div class="column is-4">
                                <div class="flat-card order-card has-popover-top">
                                    <div class="order-info">
                                        <span><a href="invoice.html">ORDER-39456</a></span>
                                        <span class="tag is-danger">Blocked</span>
                                    </div>
                                    <!-- Progress Circle -->
                                    <div class="circle-chart-wrapper">
                                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                            <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            <circle class="circle-chart-circle" stroke="#FF7273" stroke-width="2" stroke-dasharray="40,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        </svg>
                                        <!-- Icon -->
                                        <div class="chart-icon">
                                            <i data-feather="alert-octagon"></i>
                                        </div>
                                        <!-- Label -->
                                        <div class="ring-title has-text-centered">
                                            <span>40% Complete</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Order 39456 Popover -->
                                <div class="webui-popover-content">
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <img class="staff-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/janet.jpg" alt="">
                                        <div class="content-block">
                                            <label>Order handled by</label>
                                            <span>Janet Smith</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="clock"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Ordered on</label>
                                            <span>feb 19th 2018</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="dollar-sign"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Order Total</label>
                                            <span>$219,22</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="truck"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Shipping Method</label>
                                            <span>FedEx</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Order card -->
                            <div class="column is-4">
                                <div class="flat-card order-card has-popover-top">
                                    <div class="order-info">
                                        <span><a href="invoice.html">ORDER-38246</a></span>
                                        <span class="tag is-primary">Complete</span>
                                    </div>
                                    <!-- Progress Circle -->
                                    <div class="circle-chart-wrapper">
                                        <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                            <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            <circle class="circle-chart-circle" stroke="#0023ff" stroke-width="2" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                        </svg>
                                        <!-- Icon -->
                                        <div class="chart-icon">
                                            <i data-feather="check"></i>
                                        </div>
                                        <!-- Label -->
                                        <div class="ring-title has-text-centered">
                                            <span>100% Complete</span>
                                        </div>
                                    </div>
                                </div>

                                <!-- Order 38246 Popover -->
                                <div class="webui-popover-content">
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <img class="staff-avatar" src="http://via.placeholder.com/250x250" data-demo-src="assets/img/avatars/nicole.jpg" alt="">
                                        <div class="content-block">
                                            <label>Order handled by</label>
                                            <span>Nicole Rogers</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="clock"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Ordered on</label>
                                            <span>feb 5th 2018</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="dollar-sign"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Order Total</label>
                                            <span>$29,22</span>
                                        </div>
                                    </div>
                                    <!-- Popover Block -->
                                    <div class="popover-flex-block">
                                        <div class="icon-block">
                                            <i data-feather="truck"></i>
                                        </div>
                                        <div class="content-block">
                                            <label>Shipping Method</label>
                                            <span>UPS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Orders Grid -->
            </div>
            <!-- /Container -->
        </div>
        <!-- /Main section -->
    </div>
    <!-- /Main wrapper -->

{% endblock %}