{% extends "backend/base/base.html.twig" %}

{% block stylesheets %}
    <!-- Plugins css -->
    <link href="{{ asset('backend/libs/nestable2/jquery.nestable.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/css/pages/categorie.css') }}" rel="stylesheet" />
{% endblock %}

{% block block_starter %} Gestion des services {% endblock %}
{% block body %}
    <div class="row">

        <div class="card-box col-lg-6 ">
            <div class="card-box">
                <h4 class="header-title">Catégorie X</h4>
                <p class="sub-header">Description de catégorie X</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://via.placeholder.com/500x400/ffffff/999999" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-box col-lg-6">
            <div class="card-box">
                <h4 class="header-title">Catégorie X</h4>
                <p class="sub-header">Description de catégorie X</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://via.placeholder.com/500x400/ffffff/999999" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-box col-lg-6  ">
            <div class="card-box">
                <h4 class="header-title">Catégorie X</h4>
                <p class="sub-header">Description de catégorie X</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://via.placeholder.com/500x400/ffffff/999999" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-box col-lg-6  ">
            <div class="card-box">
                <h4 class="header-title">Catégorie X</h4>
                <p class="sub-header">Description de catégorie X</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://via.placeholder.com/500x400/ffffff/999999" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-box col-lg-6  ">
            <div class="card-box">
                <h4 class="header-title">Catégorie X</h4>
                <p class="sub-header">Description de catégorie X</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://via.placeholder.com/500x400/ffffff/999999" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-box col-lg-6  ">
            <div class="card-box">
                <h4 class="header-title">Catégorie X</h4>
                <p class="sub-header">Description de catégorie X</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://via.placeholder.com/500x400/ffffff/999999" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-box col-lg-6  ">
            <div class="card-box">
                <h4 class="header-title">Catégorie X</h4>
                <p class="sub-header">Description de catégorie X</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://via.placeholder.com/500x400/ffffff/999999" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-box col-lg-6  ">
            <div class="card-box">
                <h4 class="header-title">Catégorie X</h4>
                <p class="sub-header">Description de catégorie X</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://via.placeholder.com/500x400/ffffff/999999" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-box col-lg-6  ">
            <div class="card-box">
                <h4 class="header-title">Catégorie X</h4>
                <p class="sub-header">Description de catégorie X</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="http://via.placeholder.com/500x400/ffffff/999999" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-box col-auto mx-3 categorie">
            <div class="card-box">
                <h4 class="header-title">Nouveau</h4>
                <p class="sub-header">Ajouter une nouvelle catégorie</p>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="{{ asset('backend/images/pages/eservices/img-add.png') }}" alt="First slide">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}