{% extends "backend/base/base.html.twig" %}

{% block title %}Catégorie{% endblock %}
{% block stylesheets %}
    <!-- Plugins css -->
    <link href="{{ asset('backend/libs/nestable2/jquery.nestable.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('backend/css/pages/eservices/categorie.css') }}" rel="stylesheet" />
{% endblock %}

{% block block_starter %} Gestion des services {% endblock %}
{% block body %}

    <div class="row">
        <div class="col-12" id="bgimg">
            <div class="text-center">
                <br>
                <h3 class="mb-3">Catégorie X</h3>
                <br><br><br>
                <button type="button" class="btn btn-success waves-effect waves-light mt-2 mr-1"><i class="mdi mdi-square-edit-outline mr-1"></i> Editer</button>
                <br><br><br>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->


    <div class="row mt-4">
        <div class="col-12">
            <div class="card-box">
                <ul class="nav nav-pills navtab-bg">
                    <li class="nav-item">
                        <a href="#general-q-tab" data-toggle="tab" aria-expanded="false" class="nav-link px-3 py-2 active">
                            <span class="d-inline-block d-sm-none"><i class="ti-help-alt"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="ti-help-alt mr-1"></i> Description</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#privacy-p-tab" data-toggle="tab" aria-expanded="true" class="nav-link px-3 py-2">
                            <span class="d-inline-block d-sm-none"><i class="fas fa-hands-helping"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="fas fa-hands-helping mr-1"></i> Services</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#support-tab" data-toggle="tab" aria-expanded="false" class="nav-link px-3 py-2">
                            <span class="d-inline-block d-sm-none"><i class="ti-star"></i></span>
                            <span class="d-none d-sm-inline-block"><i class="ti-star mr-1"></i> Notes</span>
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="general-q-tab">
                        <div class="row pt-2">
                            <div class="col-lg-6">
                                <div class="p-lg-2">
                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question" data-wow-delay=".1s">What is Lorem Ipsum?</h4>
                                        <p class="faq-answer mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    </div>

                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">Why use Lorem Ipsum?</h4>
                                        <p class="faq-answer mb-4">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                                    </div>

                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">How many variations exist?</h4>
                                        <p class="faq-answer mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    </div>
                                </div>
                            </div>
                            <!--/col-md-5 -->

                            <div class="col-lg-6">
                                <div class="p-lg-2">
                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">Is safe use Lorem Ipsum?</h4>
                                        <p class="faq-answer mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    </div>

                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">When can be used?</h4>
                                        <p class="faq-answer mb-4">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                                    </div>

                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">License &amp; Copyright</h4>
                                        <p class="faq-answer mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    </div>
                                </div>
                            </div>
                            <!--/col-md-5-->
                        </div>
                        <!-- end row -->

                    </div>
                    <div class="tab-pane fade" id="privacy-p-tab">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="card-box ribbon-box">
                                    <div class="ribbon ribbon-purple float-left"><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star-on mr-1"></i><i class="fe-star mr-1"></i><i class="fe-star mr-1"></i> </div>
                                    <h5 class="text-purple float-right mt-0">Nom de service X</h5>
                                    <div class="ribbon-content">
                                        <p class="mb-0">Quisque nec turpis at urna dictum luctus. Suspendisse convallis dignissim eros at volutpat. In egestas
                                            mattis dui. Aliquam mattis dictum aliquet. Nulla sapien mauris, eleifend et sem ac, commodo dapibus odio.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- end row -->
                    </div>
                    <div class="tab-pane fade" id="support-tab">
                        <div class="row pt-2">
                            <div class="col-lg-6">
                                <div class="p-lg-2">
                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">How many variations exist?</h4>
                                        <p class="faq-answer mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    </div>

                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question" data-wow-delay=".1s">What is Lorem Ipsum?</h4>
                                        <p class="faq-answer mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    </div>

                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">Why use Lorem Ipsum?</h4>
                                        <p class="faq-answer mb-4">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                                    </div>

                                </div>
                            </div>
                            <!--/col-md-5 -->

                            <div class="col-lg-6">
                                <div class="p-lg-2">
                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">License &amp; Copyright</h4>
                                        <p class="faq-answer mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    </div>

                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">Is safe use Lorem Ipsum?</h4>
                                        <p class="faq-answer mb-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                                    </div>

                                    <!-- Question/Answer -->
                                    <div>
                                        <div class="faq-question-q-box">Q.</div>
                                        <h4 class="faq-question">When can be used?</h4>
                                        <p class="faq-answer mb-4">Lorem ipsum dolor sit amet, in mea nonumes dissentias dissentiunt, pro te solet oratio iriure. Cu sit consetetur moderatius intellegam, ius decore accusamus te. Ne primis suavitate disputando nam. Mutat convenirete.</p>
                                    </div>

                                </div>
                            </div>
                            <!--/col-md-5-->
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}