# Default ignored files
/workspace.xml
/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/commandlinetools/Composer_7_23_20__3_00_PM_c.xml
/commandlinetools/Symfony_7_23_20__2_58_PM_s.xml
